.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.main.container {
  padding-top: 60px;
}

.main.regPage {
  padding-top: 100px;
}

.chatButton {
  position: fixed;
  top: 50px;
  right: 30px;
  width: 200px;
  height: 60px;
  z-index: 1;
}

.addUserButton {
  position: fixed;
  top: 50px;
  right: 269px;
}

.removeUserButton {
  position: fixed;
  top: 50px;
  right: 230px;
}

.wrapper {
  position: relative;
}

.bottom {
  position: fixed;
  bottom: 255px;
}

#toastzz {
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  right: 200px;
  width: 400px;
  height: 50vh;
  background: white;
}
